.carousel-bg {
  background-image: url("./images/bg-1.png");
}
.main-bg {
  background-image: url("./images/bg-2.png");
}
.main-bg2 {
  background-image: url("./images/bg-3.png");
}
.light-bg {
  background-image: url("./images/light-bg.png");
}
.other-bg {
  background-image: url("./images/Bg-other.png");
}
.custom-background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
